---
interface Props {
    demo: string;
}

const { demo } = Astro.props;
---

<a
    class="bg-zinc-900 hover:opacity-80 hover:cursor-pointer transition px-6 py-2 text-white text-sm rounded-lg"
    href={demo}
    target="_blank"
>Demo</a>